.modal__fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 24px 0;
  padding: 0;
  border: none;
}

.modal__legend {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.modal__radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #000;
}

.modal__radio-label input[type='radio'] {
  margin: 0;
}
