.add-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.add-item__title {
  position: relative;
  top: -6px;
  width: 100%;
  max-width: 95px;
  font-weight: 700;
  color: #000;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.add-item__close {
    position: relative;
    top: -8px;
    Left: 5px;
    appearance: none;
    border: none;
    background: transparent;
    font-size: 22px;
    line-height: 20px;
    color: #6b7280;
    cursor: pointer;
    padding: 4px;
}

.add-item__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-item__label {
    position: relative;
    top: 6px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    color: #111827;
    gap: 8px;
    line-height: 20px;
    padding: 0px 0px 24px 0px;
    margin: 0;
}

.add-item__input {
    position: relative;
    top: -4px;
    left: -1px;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    padding: 4px 0 0 0;
    font-size: 16px;
    background: transparent;
    outline: none;
}

.add-item__input:focus {
  border-bottom: 1px solid #000;
}

.add-item__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-item__legend {
    position: relative;
    top: 5px;
    left: -2px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 12px;
    line-height: 20px;
}

.add-item__radio-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-item__radio {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #00000080;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    position: relative;
    margin: 0px;
}

.add-item__radio:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.add-item__radio-label {
  font-size: 15px;
  color: #000;
}

.add-item__submit {
    width: 124px;
    height: 36px;
    position: relative;
    top: -1px;
    border: none;
    border-radius: 6px;
    background: #d1d5db;
    color: #000;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    cursor: not-allowed;
}

.add-item__submit:not(:disabled) {
  background: #000;
  color: #fff;
  cursor: pointer;
}

.add-item__submit:disabled {
  opacity: 0.6;
}
