/* src/blocks/ClothesSection.css */
.clothes {
  width: 100%;
  margin-block: 16px 32px;
}

.clothes .container {
  max-width: 1360px;
  margin-inline: auto;
  padding-inline: 10px;
}

.clothes__meta {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.clothes__summary {
  color: #000;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

@media (max-width: 1370px) {
  .clothes .container { padding-inline: 20px; }
}

@media (max-width: 1280px) {
  .clothes .container { padding-inline: 18px; }
}

@media (max-width: 1024px) {
  .clothes .container { padding-inline: 16px; }
}

@media (max-width: 768px) {
  .clothes .container { padding-inline: 14px; }
}

@media (max-width: 560px) {
  .clothes .container { padding-inline: 12px; }
  .clothes__meta {
    flex-direction: column;
    align-items: flex-start;
  }
}
