.footer {
  width: min(var(--container-w), 100%);
  margin: 0 auto;
  padding: var(--pad);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left,
.footer__right {
  margin: 0;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 16px 19px; 
  }
}