.footer {
  max-width: 1360px;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 24px auto;
  padding: 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  opacity: 0.9;
}

.footer__left,
.footer__right {
  font-size: 14px;
  line-height: 1;
}