.item-modal {
  display: flex;
  flex-direction: column;
  width: 496px;
  max-height: 90vh;
  border-radius: 16px;
  background: #ffffff;
  position: relative;
}

.item-modal__media {
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 16px;
}

.item-modal__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.item-modal__close {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 3;
    border: none;
    background: transparent;
}

.item-modal__info {
  height: 112px;
  padding: 20px 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-modal__top {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  margin-bottom: 12px;
}

.item-modal__name,
.item-modal__weather {
  line-height: 24px;
  margin: 0;
}

.item-modal__delete {
  color: #ff4d00;
  background: none;
  border: none;
  cursor: pointer;
}
