.item-modal {
  width: 498px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.item-modal__image {
  width: 100%;
  height: 436px;
  object-fit: cover;
  display: block;
}

.item-modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  color: #0000004D;
  background: none;
  border: none;
  cursor: pointer;
}

.item-modal__info {
  padding: 24px;
}

.item-modal__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.item-modal__delete {
  color: #ff4d00;
  background: none;
  border: none;
  cursor: pointer;
}
