.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.main__intro {
  font-size: 16px;
  margin: 0;
  padding: 8px 0px 18px 0;
  text-align: left;
}

.main__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  justify-content: center;
  gap: 20px;
  padding: 16px 0;
  width: 100%;
}

.mainweather {
  text-align: left;
  margin: 2.5rem 0 2.125rem 2.5rem;
}

.main__message {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  margin: 12px 0;
  color: #000;
}

.main__temp-display {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #222;
}

.main__clothing-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin-top: 1.25rem;
}

@media screen and (max-width: 600px) {
  .main__intro {
    margin: 0 0 0 40px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    width: calc(100% - 40px);
    margin: 0 0 0 20px;
  }
}

@media screen and (max-width: 320px) {
  .main__intro {
    margin: 0 0 0 20px;
  }
}
