.profile {
  display: flex;
  gap: 0;
  justify-content: space-around;
}

.profile__sidebar {
  width: 100%;
  max-width: 229px;
  max-height: 138px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.profile__user {
  width: 100%;
  max-width: 229px;
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 0;
}

.profile__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__name {
  min-width: 0;
  width: 100%;
  max-width: 157px;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit,
.profile__logout {
  background: #ffffff;
  color: #000000;
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
}

.profile__edit:hover,
.profile__logout:hover {
  background: #f3f3f3;
}

.profile__items {
  width: 100%;
  max-width: 1017px;
  flex: 1;
}

.profile__items-header {
  width: 100%;
  max-width: 1013px;
  max-height: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}

.profile__items-title {
  width: 100%;
  max-width: 94px;
  max-height: 100%;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.profile__add {
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #00000099;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .profile {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile__items-header {
    max-width: 70%;
    margin-left: 39%;
  }

  .profile__user {
    max-width: 70%;
    margin-left: 39%;
  }

  .profile__sidebar {
    display: flex;
    max-width: 100%;
    align-items: center;
  }

  .profile__items {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .profile__items .cards {
    grid-template-columns: 1fr;
  }

  .profile__sidebar {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    flex-direction: column;
  }
}
