.profile {
  display: flex;
  flex-direction: row;
}

.profile-main {
  flex: 1;
  padding: 0 20px 20px 20px;
}

.profile-content {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 24px; 
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-header__title {
  width: 94;
  max-width: 100%;
  max-height: 25;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #333;
  margin: 0px;
  padding: 10px;
}

.profile-header__add-button {
  color: #00000099;
  width: 120px;
  max-width: 100%;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-header__add-button:hover {
   background-color: #e0e0e0;
}
